.teachers {
  width: 100%;
  margin: 0 auto;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
}

.teachersContainer {
  padding: 96px 128px;
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.filtersBox {
  display: flex;
  gap: 20px;
  margin-bottom: 32px;
}

.languagesBox,
.levelBox,
.priceBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.languagesBox > label,
.levelBox > label,
.priceBox > label {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: #8a8a89;
}

.languagesBox > select,
.levelBox > select,
.priceBox > select {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  color: #121417;
  outline: none;
  border-radius: 14px;
  padding: 14px 18px;
  width: 221px;
  height: 48px;
  display: flex;
  border: none;
  background-color: #fff;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3e%3cpath stroke='%23121417' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m5 7.5 5 5 5-5'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 20px;
  cursor: pointer;
}

.levelBox > select {
  width: 255px;
}

.priceBox > select {
  width: 124px;
}

.teachersList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
  width: 100%;
  list-style: none;
  padding: 0;
}

.moreBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 187px;
  margin: 0 auto;
  border-radius: 12px;
  padding: 16px 48px;
  height: 60px;
  background-color: #d18d82;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  color: #121417;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.moreBtn:hover {
  background-color: #e0a39a;
}
